################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/HelloWebpackNetCore/bin/Debug/netcoreapp3.1
/HelloWebpackNetCore/obj
/HelloWebpackNetCore/.vs/HelloWebpackNetCore/v16
